# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Temporary
*.tmp
*.temp

# Archives
*.zip
*.rar
*.7z

# Large media files
*.glb
*.stl
*.3mf
*.mp4
*.mp3
*.wav
*.exe

# Node
node_modules/
package-lock.json
